@charset "utf-8";
@import "./reset.css";
@import url(./common.css);

/* 메인 영역 */
#main_box {
  width: 100%;
  height: auto;
  position: relative;
}
section {
  width: 100%;
  position: relative;
}
/* 메인 비주얼 */
#main_visual_slide {
  width: 100%;
  height: 78vh;
  border-radius: 37vh 0;
  overflow: hidden;
}
#main_visual {
  width: 100%;
  height: 100%;
  position: relative;
}
.main_title {
  width: 84vw;
  top: 40%;
  left: 160px;
  z-index: 10;
  position: absolute;
}
.main_img {
  width: 100%;
  height: 100%;
}
.main_txt {
  width: 45%;
  height: auto;
}
.main_txt > span {
  font-size: 20px;
  line-height: 20px;
  display: block;
  margin-bottom: 10px;
  color: #fff;
}
.main_txt > h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #fff;
}
.more_btn {
  width: 130px;
  height: 40px;
  color: #373c22;
  font-weight: 800;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 40px;
  border-bottom: 1px solid #373c22;
  transition: 0.3s;
}
.more_btn > a {
  color: #373c22;
}
.more_btn > a::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 7px;
  margin-left: 10px;
  background: url(../img/icon/web_icons/es_sprites.png) no-repeat -10px -134px;
}
.more_btn:hover {
  background-color: #373c22;
}
.more_btn:hover > a {
  color: #efe8e1;
}
.more_btn:hover > a::after {
  width: 24px;
  height: 24px;
  background: url(../img/icon/web_icons/es_sprites.png) no-repeat -10px -90px;
}
.main_img {
  width: 100%;
  overflow: hidden;
}

/* 섹션_타입별추천 */
#whatyouneed {
  overflow: hidden;
}
.sec_inner_wrap {
  width: 83vw;
  height: auto;
  margin: 0 auto;
}
.sec_title {
  width: 83vw;
  height: fit-content;
  margin: 100px auto 50px;
  margin-top: 100px;
  text-align: center;
}
.con_top_title {
  font-size: 42px;
  font-weight: 800;
  line-height: 42px;
  margin-bottom: 20px;
}
.con_text {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
.type_btn_group {
  width: 40%;
  margin: 0 auto;
  overflow: hidden;
}
.type_btn_list {
  text-align: center;
  width: 100%;
}

.type_btn_list li a {
  /* 클릭 전 버튼의 폰트컬러 */
  display: block;
  float: left;
  width: 18%;
  height: 44px;
  margin: 1% 1%;
  line-height: 44px;
  font-size: 16px;
  box-sizing: border-box;
  border: 0.5px solid #efe8e1;
  background-color: #fff;
  color: #898989;
  transition: 0.3s;
}
.type_btn_list li:hover a {
  border: 0.5px solid #efe8e1;
  background-color: #efe8e1;
  color: #373c22;
}
.type_btn_list li.active a {
  border-radius: 22px 0;
  background-color: #efe8e1;
  color: #373c22;
}

/* 제품 리스트 내용 중 공통 속성 */
.prd_list {
  width: 100%;
  height: fit-content;
  margin: 70px 0 100px 0;
}
.prd_list > li {
  /* 타입별 추천 리스트 적용 */
  display: flex;
  justify-content: space-between;
}
.prd_list > .best_list {
  /* 베스트 아이템 리스트 적용 */
  display: flex;
  justify-content: space-between;
}
.prd_item {
  border: 1px solid #efe8e1;
  transition: 0.3s;
  border-radius: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.img_thumbnail > a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  filter: brightness(1);
  transition: 0.3s;
}
.prd_item:hover .img_thumbnail > a {
  filter: brightness(0.8);
}
.img_thumbnail .thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img_thumbnail:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.choice_btn span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #efe8e1;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choice_btn span img {
  width: 20px;
}
.prd_txt_wrap {
  width: 100%;
  height: 34%;
  padding: 2vw;
  box-sizing: border-box;
}
.prd_txt_wrap span,
strong,
em {
  display: block;
}
.hash_tag_box {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 10px;
}
.hash_tag_box span {
  font-size: 12px;
  width: fit-content;
  height: 28px;
  line-height: 28px;
  color: #898989;
  box-sizing: border-box;
  padding: 0 8px;
  border-radius: 14px 0 14px 0;
  background-color: #efe8e1;
}
.choice_btn_box {
  width: fit-content;
  height: fit-content;
  display: none;
}
.item_name {
  width: fit-content;
  height: fit-content;
  margin-top: 15px;
}
.item_price_box {
  height: fit-content;
  display: flex;
  margin-top: 25px;
}

/*  제품 리스트 4열 배열 디테일 */
.item_4row {
  width: 19vw;
  height: 52vh;
}
.prd_item.item_4row:hover {
  border-radius: 15vh 0 0 0;
}
.img_4row {
  width: 100%;
  height: 66%;
  position: relative;
}
.btn_4row {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 20px;
  z-index: 5;
}
.prd_item.item_4row:hover .choice_btn_box {
  display: block;
}
.name_4row {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  color: #676767;
}
.price_detail_4row {
  display: flex;
  gap: 15px;
}
.price_detail_4row strong {
  font-size: 24px;
  font-weight: 800;
}
.price_detail_4row span {
  font-size: 16px;
  color: #676767;
  text-decoration: line-through;
}
.price_dc_4row {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}
.price_dc_4row em {
  font-size: 24px;
  color: #db4f00;
}

/*  제품 리스트 3열 배열 디테일 */
.item_3row {
  width: 26vw;
  height: 64vh;
}
.prd_item.item_3row:hover {
  border-radius: 22vh 0 0 0;
}
.img_3row {
  width: 100%;
  height: 70%;
  position: relative;
}
.btn_3row {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 30px;
  z-index: 5;
}
.prd_item.item_3row:hover .choice_btn_box {
  display: block;
}
.name_3row {
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
  color: #676767;
}
.price_detail_3row {
  display: flex;
  gap: 15px;
}
.price_detail_3row strong {
  font-size: 28px;
  font-weight: 800;
}
.price_detail_3row span {
  font-size: 20px;
  color: #676767;
  text-decoration: line-through;
}
.price_dc_3row {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}
.price_dc_3row em {
  font-size: 28px;
  color: #db4f00;
}

/* 섹션_이벤트배너 */
.arrow_wrap {
  width: 100%;
  height: fit-content;
  position: relative;
}
.prevArrow {
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 10;
  top: 56px;
  left: 40px;
  cursor: pointer;
}
.nextArrow {
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 10;
  top: 56px;
  right: 40px;
  cursor: pointer;
}
#event_banner_slider {
  width: 100%;
  height: 28vh;
}
#event_con {
  width: 100%;
  height: 100%;
  position: relative;
}
.event_text_wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 54px;
  z-index: 10;
  color: #fff;
}
.event_title {
  font-size: 44px;
  line-height: 44px;
  font-weight: 800;
  margin-bottom: 20px;
}
.event_text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
.event_img {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  position: absolute;
}
/* 브랜드 스토리 */
#brand_story {
  width: 100%;
  height: auto;
}
.sec_inner {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.brand_text_wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 5vw;
}
.brand_txt {
  text-align: center;
}
.brand_txt > h2 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 800;
  margin-bottom: 20px;
}
.brand_txt > p {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #898989;
}
.brand_img {
  width: 50%;
  height: 100%;
  border-radius: 25vh 0;
  overflow: hidden;
  filter: brightness(0.8);
  transition: 0.5s;
}
.brand_img:hover {
  filter: brightness(1);
}
