@charset "utf-8";
@import "./reset.css";

body {
  font-family: "SUIT Variable", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #373c22;
}
.wrap {
  width: 100%;
  height: auto;
}
#main_header {
  width: 100%;
  height: 180px;
  background-color: #fff;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; */
}
/* 헤더 */
.header_wrap {
  width: 1600px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 0 22px;
}
.header_top-con {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
h1 {
  width: 280px;
  height: 42px;
}
h1 > .bg-Header_logo {
  content: "";
  display: block;
  width: 280px;
  height: 42px;
  background: url("../img/icon/web_icons/es_sprites.png") no-repeat -10px -860px;
}
.top_member {
  width: fit-content;
  height: fit-content;
  display: flex;
}
.top_member > a {
  display: block;
  color: #898989;
  font-weight: 600;
  line-height: 20px;
  margin: 17px 10px 0px;
  position: relative;
}
.top_member > a::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #898989;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.25s ease;
}
.top_member > a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.header_bottom-con {
  width: 100%;
  height: fit-content;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
#gnb {
  width: fit-content;
  height: 100%;
}
#gnb > ul {
  width: fit-content;
  display: flex;
  column-gap: 40px;
}

/* 메인 1차 메뉴 */
#gnb > ul > li {
  position: relative;
  text-align: center;
}
#gnb > ul > li > a {
  display: inline-block;
  color: #373c22;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 4px;
  position: relative;
}
#gnb > ul > li > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #373c22;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease;
}
#gnb > ul > li:not(:first-child):hover > a::after {
  transform: translateX(-50%) scaleX(1);
}

/* 메인 2차 메뉴 */
.submenu_box {
  width: 400px;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: -40px;
  top: 40px;
  transition: 0.3s;
}
.gnb_submenu {
  width: fit-content;
  display: flex;
  gap: 40px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px 30px;
}
#gnb > ul > li:nth-child(3):hover > div {
  height: 261px;
}
.submenu_wrap {
  width: fit-content;
  height: fit-content;
}
.submenu_con {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  line-height: 32px;
  font-size: 14px;
  font-weight: 400;
}
.submenu-title {
  width: 150px;
  color: #898989;
  font-size: 16px;
  line-height: 36px;
  font-weight: 800;
  box-sizing: border-box;
  padding: 4px 10px;
  border-bottom: 1px solid rgba(137, 137, 137, 0.5);
}
.submenu_con:hover > div {
  color: #373c22;
}
.submenu_con > li {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 10px;
}
.submenu_con :nth-child(2) {
  padding-top: 8px;
}
.submenu_con :nth-child(6) {
  padding-bottom: 8px;
}
.submenu_con > li > a {
  color: #898989;
}
.submenu_con > li:hover > a {
  color: #373c22;
  font-weight: 600;
}
/* 사이드 메뉴 연결 아이콘 */
#gnb > ul > li > .snb_open-icon {
  width: 24px;
  height: 24px;
  margin: 6px 0;
  border-bottom: none;
  content: "";
  background: url("../img/icon/web_icons/es_sprites.png") no-repeat -10px -310px;
}
.member_action {
  width: fit-content;
  height: 100%;
  display: flex;
  gap: 20px;
}
.product_search input {
  outline: none;
  width: 80%;
  border: none;
  font-size: 14px;
  line-height: 32px;
}

.product_search {
  width: 215px;
  height: 36px;
  border-bottom: 1px solid #373c22;
  box-sizing: border-box;
  padding: 0 10px;
  position: relative;
}
#search::placeholder {
  color: rgba(137, 137, 137, 0.7);
  letter-spacing: -1px;
}
.search_bar::after {
  width: 30px;
  height: 30px;
  display: inline-block;
  content: "";
  /* background-color: aquamarine; */
  position: absolute;
  top: 6px;
  left: 184px;
  background: url(../img/icon/web_icons/es_sprites.png) no-repeat -10px -486px;
}
.member_action > a {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin: 6px 0;
  background-image: url(../img/icon/web_icons/es_sprites.png);
  background-repeat: no-repeat;
}
.shopping-icon {
  background-position: -10px -574px;
}
.user-icon {
  background-position: -10px -618px;
}
/* 메인 영역 */
#main_box {
  width: 100%;
  height: auto;
}
main section {
  width: 100%;
}
/* 메인 비주얼 */
#main_visual {
  width: 100%;
  height: 850px;
  border-radius: 400px 0;
  overflow: hidden;
  position: relative;
}
.main_title {
  margin: 0 auto;
  width: 1600px;
  margin-top: 374px;
  margin-left: 160px;
  position: absolute;
  z-index: 10;
}
.main_txt {
  width: 45%;
  height: auto;
}
.main_txt > h2 {
  font-size: 45px;
  line-height: 56px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #fff;
}
.main_txt > p {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
.more_btn {
  width: 130px;
  height: 40px;
  color: #373c22;
  font-weight: 800;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 40px;
  border-bottom: 1px solid #373c22;
  transition: 0.3s;
}
.more_btn > a {
  color: #373c22;
}
.more_btn > a::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 7px;
  margin-left: 10px;
  background: url(../img/icon/web_icons/es_sprites.png) no-repeat -10px -134px;
}
.more_btn:hover {
  background-color: #373c22;
}
.more_btn:hover > a {
  color: #efe8e1;
}
.more_btn:hover > a::after {
  width: 24px;
  height: 24px;
  background: url(../img/icon/web_icons/es_sprites.png) no-repeat -10px -90px;
}
.main_img {
  width: 100%;
  overflow: hidden;
}

.sec_inner_wrap {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}
/* 섹션_타입별추천 */
#rcm_box {
  overflow: hidden;
}
.sec_title {
  width: 1600px;
  height: fit-content;
  margin: 100px auto 50px;
  margin-top: 100px;
  text-align: center;
}
.con_top_title {
  font-size: 42px;
  font-weight: 800;
  line-height: 42px;
  margin-bottom: 20px;
}
.con_text {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
.type_btn_group {
  width: 40%;
  margin: 0 auto;
  overflow: hidden;
}
.type_btn_group > ul {
  text-align: center;
  width: 100%;
}
.type_btn_group > ul li {
  display: block;
  float: left;
  width: 18%;
  height: 44px;
  margin: 1% 1%;
  box-sizing: border-box;
  border: 0.5px solid #efe8e1;
  cursor: pointer;
}
.type_btn_group > ul li a {
  display: block;
  width: 100%;
  line-height: 44px;
  font-size: 16px;
  color: #898989;
}
.prd_box {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 40px;
  margin: 70px 0 100px 0;
}
.prd_list {
  width: 370px;
  height: 566px;
  border: 1px solid #efe8e1;
}
.prd_img {
  width: 100%;
  height: 370px;
  background-color: rgb(194, 224, 224);
  position: relative;
}
.choice_btn {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
}
.choice_btn span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #efe8e1;
  cursor: pointer;
  border-radius: 50%;
  margin: 10px 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choice_btn span img {
  width: 20px;
}
.prd_txt_wrap {
  width: 100%;
  height: 196px;
  padding: 40px;
  box-sizing: border-box;
}
.prd_txt_wrap span,
strong,
em {
  display: block;
}
.hash_tag_box {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 10px;
}
.hash_tag_box span {
  font-size: 12px;
  width: fit-content;
  height: 28px;
  line-height: 28px;
  color: #898989;
  background-color: aliceblue;
  box-sizing: border-box;
  padding: 0 8px;
  border-radius: 14px 0 14px 0;
  background-color: #efe8e1;
}
.prd_name {
  width: fit-content;
  height: fit-content;
  margin-top: 15px;
}
.prd_name a {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  color: #676767;
}
.prd_price {
  width: 290px;
  height: fit-content;
  display: flex;
  margin-top: 25px;
}
.item_price {
  display: flex;
  gap: 15px;
}
.item_price strong {
  font-size: 24px;
  font-weight: 800;
}
.item_price span {
  font-size: 16px;
  color: #676767;
  text-decoration: line-through;
}
.item_dc {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}
.item_dc em {
  font-size: 24px;
  color: #db4f00;
}
