@charset "utf-8";
@import url(./reset.css);

/* 스크롤 스타일 */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #bdb8b4;
}
::-webkit-scrollbar-track {
  background-color: #efe8e1;
}
body {
  font-family: "SUIT Variable", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #373c22;
}
.wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#main_header {
  width: 100%;
  height: 180px;
  background-color: #fff;
  /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; */
}
/* 헤더 */
.header_wrap {
  width: 1600px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 0 22px;
}
.header_top-con {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
h1 {
  width: 280px;
  height: 42px;
}
h1 > .bg-Header_logo {
  content: "";
  display: block;
  width: 280px;
  height: 42px;
  background: url("../img/icon/web_icons/es_sprites.png") no-repeat -10px -860px;
}
.top_member {
  width: fit-content;
  height: fit-content;
  display: flex;
}
.top_member > a {
  display: block;
  color: #898989;
  font-weight: 600;
  line-height: 20px;
  margin: 17px 10px 0px;
  position: relative;
}
.top_member > a::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #898989;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.25s ease;
}
.top_member > a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.header_bottom-con {
  width: 100%;
  height: fit-content;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
#gnb {
  width: fit-content;
  height: 100%;
}
#gnb > ul {
  width: fit-content;
  display: flex;
  column-gap: 40px;
}

/* 메인 1차 메뉴 */
#gnb > ul > li {
  position: relative;
  text-align: center;
}
#gnb > ul > li > a {
  display: inline-block;
  color: #373c22;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 4px;
  position: relative;
}
#gnb > ul > li > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #373c22;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease;
}
#gnb > ul > li:not(:first-child):hover > a::after {
  transform: translateX(-50%) scaleX(1);
}

/* 메인 2차 메뉴 */
.submenu_box {
  width: 400px;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: -40px;
  top: 40px;
  transition: 0.3s;
}
.gnb_submenu {
  width: fit-content;
  display: flex;
  gap: 40px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px 30px;
}
#gnb > ul > li:nth-child(3):hover > div {
  height: 261px;
}
.submenu_wrap {
  width: fit-content;
  height: fit-content;
}
.submenu_con {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  line-height: 32px;
  font-size: 14px;
  font-weight: 400;
}
.submenu-title {
  width: 150px;
  color: #898989;
  font-size: 16px;
  line-height: 36px;
  font-weight: 800;
  box-sizing: border-box;
  padding: 4px 10px;
  border-bottom: 1px solid rgba(137, 137, 137, 0.5);
}
.submenu_con:hover > div {
  color: #373c22;
}
.submenu_con > li {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 10px;
}
.submenu_con :nth-child(2) {
  padding-top: 8px;
}
.submenu_con :nth-child(6) {
  padding-bottom: 8px;
}
.submenu_con > li > a {
  color: #898989;
}
.submenu_con > li:hover > a {
  color: #373c22;
  font-weight: 600;
}
/* 사이드 메뉴 연결 아이콘 */
#gnb > ul > li > .snb_open-icon {
  width: 24px;
  height: 24px;
  margin: 6px 0;
  border-bottom: none;
  content: "";
  background: url("../img/icon/web_icons/es_sprites.png") no-repeat -10px -310px;
}
.member_action {
  width: fit-content;
  height: 100%;
  display: flex;
  gap: 20px;
}
.product_search input {
  outline: none;
  width: 80%;
  border: none;
  font-size: 14px;
  line-height: 32px;
}

.product_search {
  width: 215px;
  height: 36px;
  border-bottom: 1px solid #373c22;
  box-sizing: border-box;
  padding: 0 10px;
  position: relative;
}
#search::placeholder {
  color: rgba(137, 137, 137, 0.7);
  letter-spacing: -1px;
}
.search_bar::after {
  width: 30px;
  height: 30px;
  display: inline-block;
  content: "";
  /* background-color: aquamarine; */
  position: absolute;
  top: 6px;
  left: 184px;
  background: url(../img/icon/web_icons/es_sprites.png) no-repeat -10px -486px;
}
.member_action > a {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin: 6px 0;
  background-image: url(../img/icon/web_icons/es_sprites.png);
  background-repeat: no-repeat;
}
.shopping-icon {
  background-position: -10px -574px;
}
.user-icon {
  background-position: -10px -618px;
}

/* 로그인 섹션 */
#login_con {
  width: 100%;
  height: auto;
}
.con_wrap {
  width: 400px;
  height: fit-content;
  margin: 80px auto;
}
.con_title_wrap {
  width: 400px;
  height: fit-content;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.con_title_wrap .title_box {
  width: 50%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
.con_title_wrap .title_box_a {
  border-bottom: 2px solid #373c22;
}
.con_title_wrap .title_box_b {
  color: rgba(137, 137, 137, 0.5);
  border-bottom: 2px solid rgba(137, 137, 137, 0.5);
}
.login_sec_wrap {
  width: 100%;
  height: fit-content;
}
/* 일반회원 로그인 */
.member_con {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
}
.member {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.user_list {
  width: 100%;
  height: fit-content;
}
.user_info {
  width: 100%;
  height: 60px;
  border: 1px solid rgba(137, 137, 137, 0.3);
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 20px;
  line-height: 60px;
  position: relative;
}
#login_con input {
  font-family: "SUIT Variable", sans-serif;
}
input::placeholder {
  color: rgba(137, 137, 137, 0.5);
  font-size: 16px;
}
input::-webkit-input-placeholder {
  color: rgba(137, 137, 137, 0.5);
  font-size: 16px;
}
input[type="text"],
input[type="password"] {
  outline: none;
  width: 100%;
  border: none;
  font-size: 16px;
  color: #373c22;
}
input[type="text"]:focus,
input[type="password"]:focus {
  color: #373c22;
  border: none;
}
.user_state {
  width: 100%;
  height: auto;
  border: 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.user_check_box {
  width: fit-content;
  height: fit-content;
}
.user_check {
  color: #373c22;
  font-size: 14px;
  font-weight: 600;
  padding-left: 6px;
}
.user_find {
  width: fit-content;
  height: fit-content;
  font-size: 11px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 20px;
}
.user_find > a {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: #373c22;
}
.user_find > a:hover {
  text-decoration: underline;
}
.user_find > a:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -10px;
  width: 1px;
  height: 13px;
  background-color: #373c22;
}
.submit_btn {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-family: "SUIT Variable", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #efe8e1;
  background-color: #373c22;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.submit_btn:hover {
  background-color: #efe8e1;
  color: #373c22;
  font-size: 16px;
  font-weight: 800;
}
.simple_login {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.simple_login button {
  width: 50%;
  height: 60px;
  font-family: "SUIT Variable", sans-serif;
  line-height: 60px;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  padding-right: 30px;
  border: none;
  cursor: pointer;
  position: relative;
}
.simple_login button span::before {
  content: "";
  display: block; /*인라인블록으로 수정
*/
  width: 24px;
  height: 24px;
  position: absolute;
  top: 19px;
  left: 29px;
  background-image: url(../img/icon/web_icons/es_sprites.png);
  background-repeat: no-repeat;
}
.simple_login button:first-child span:before {
  background-position: -10px -706px;
}
.simple_login button:last-child span:before {
  background-position: -10px -662px;
}
.kakao_btn {
  background-color: #fee500;
  color: rgba(0, 0, 0, 0.9);
}
.naver_btn {
  background-color: #03c75a;
  color: #fff;
}
.member_benefit {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  margin-top: 60px;
}
.member_benefit a {
  color: #676767;
  font-weight: 600;
}
.member_benefit > a > span {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  font-weight: 800;
  text-align: center;
  background-color: #efe8e1;
  color: #373c22;
}
.benefit_wrap {
  display: flex;
  text-align: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 40px 0;
}
.benefit_wrap > div > span {
  display: block;
}

/* 비회원 주문조회*/

/* footer */
.footer_inner {
  width: 1600px;
  margin: 0 auto;
  padding: 50px 0;
  color: #898989;
}
.footer_inner a {
  color: #898989;
  font-weight: 600;
}
.footer_logo {
  margin-bottom: 20px;
}
.footer_con {
  margin-bottom: 20px;
}
.footer_con > span {
  font-weight: 600;
}
.footer_menu .policy_list > li {
  display: flex;
  gap: 20px;
}
.footer_menu .policy_list > li a {
  position: relative;
}
.footer_menu .policy_list > li > a:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #898989;
  position: absolute;
  top: 4px;
  right: -10px;
}
