@charset "utf-8";
@import "./reset.css";
@import "./common.css";

/* 메인 */

/* 신규회원가입 혜택 */
#member_benefit {
  width: 100%;
  height: auto;
}
.con_wrap div {
  box-sizing: border-box;
}
#member_benefit h2 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 80px;
  background-color: #efe8e1;
}
.wrap_box {
  width: fit-content;
  margin: 0 auto;
  padding: 56px 0;
  display: flex;
}
.new_benefit_wrap {
  width: 53vw;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefit_item {
  flex: 1 1 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit_item > img,
strong,
span {
  display: block;
}
.benefit_item > strong {
  font-size: 24px;
  font-weight: 800;
  margin-top: 10px;
}
.benefit_item > span {
  font-size: 16px;
  margin-top: 10px;
}
#membership_info {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  background-color: #efe8e1;
}
.grade_wrap {
  width: 53vw;
  display: flex;
}
.grade_item {
  flex: 1 1 0;
}
.grade_box {
  width: fit-content;
  height: fit-content;
}
.grade_box > span {
  font-size: 16px;
  font-weight: 800;
}
.grade_box > .g_white {
  color: #fff;
}
.grade_box > .g_blue {
  color: #189cc6;
}
.grade_box > .g_red {
  color: #e05364;
}
.grade_box > .g_gold {
  color: #e5b508;
}

.grade_info {
  width: fit-content;
  padding: 10px;
  margin-top: 10px;
}
.grade_info.white_box {
  border-left: 3px solid #fff;
}
.grade_info.blue_box {
  border-left: 3px solid #189cc6;
}
.grade_info.red_box {
  border-left: 3px solid #e05364;
}
.grade_info.gold_box {
  border-left: 3px solid #e5b508;
}
.grade_info span {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 40px;
}
.grade_info span:last-child {
  margin-bottom: 0;
}
.grade_info b {
  font-size: 22px;
  font-weight: 800;
}
.issue_info {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #fff;
}
.issue_info > ul {
  width: 53vw;
  margin: 0 auto;
  color: #898989;
  font-size: 14px;
  line-height: 22px;
}
