@charset "utf-8";
@import "./reset.css";
@import "./common.css";

/* 이벤트 리스트 */

.con_detail {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  margin-top: 40px;
}
.event_list {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}
.event_list .event_box {
  width: 50%;
  height: fit-content;
}
.event_list .event_box img {
  width: 100%;
  height: max-content;
}
.event_list .event_box > div {
  width: 100%;
  height: max-content;
  box-sizing: border-box;
  margin-top: 20px;
}
.event_period {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #898989;
}
.event_title {
  font-size: 28px;
  font-weight: 800;
  line-height: 40px;
}
