@charset "utf-8";
@import "../common/common_resp.css";

/* 노트북 */
@media screen and (min-width: 1440px) and (max-width: 1750px) {
  .new_benefit_wrap {
    width: 60vw;
  }
  .benefit_item > img {
    width: 70px;
  }
  .benefit_item > strong {
    font-size: 18px;
    margin-top: 10px;
  }
  .benefit_item > span {
    font-size: 16px;
    margin-top: 8px;
  }
  .grade_box > img {
    width: 100px;
  }
  .grade_info b {
    font-size: 20px;
  }
  .grade_info span {
    font-size: 16px;
    line-height: 24px;
  }
}
/* 노트북 medium */
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  #member_benefit h2 {
    height: 80px;
    font-size: 28px;
    line-height: 80px;
  }
  .new_benefit_wrap {
    width: 83vw;
    gap: 20px;
  }
  .benefit_item > img {
    width: 70px;
  }
  .benefit_item > strong {
    font-size: 18px;
    margin-top: 10px;
  }
  .benefit_item > span {
    font-size: 16px;
    margin-top: 8px;
  }
  #membership_info > .wrap_box {
    margin-top: 30px;
  }
  .grade_wrap {
    width: 83vw;
    gap: 20px;
  }
  .grade_box > img {
    width: 100px;
  }
  .grade_info b {
    font-size: 20px;
  }
  .grade_info span {
    font-size: 16px;
    line-height: 24px;
  }
  .issue_info {
    width: 83vw;
  }
  .issue_info > ul {
    font-size: 12px;
    line-height: 20px;
  }
}
/* 태블릿 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .con_wrap {
    margin-bottom: 60px;
  }
  #member_benefit h2 {
    height: 60px;
    font-size: 26px;
    line-height: 60px;
  }
  .new_benefit_wrap {
    width: 83vw;
    gap: 14px;
  }
  .benefit_item > img {
    width: 50px;
  }
  .benefit_item > strong {
    font-size: 18px;
    margin-top: 10px;
    display: none;
  }
  .benefit_item > span {
    font-size: 16px;
    margin-top: 8px;
    font-weight: 800;
    text-align: center;
  }
  #membership_info > .wrap_box {
    margin-top: 30px;
  }
  .grade_wrap {
    width: 83vw;
    padding: 30px 30px;
    gap: 20px;
  }
  .grade_box > img {
    width: 100px;
  }
  .grade_info b {
    font-size: 20px;
  }
  .grade_info span {
    font-size: 16px;
    line-height: 24px;
  }
  .issue_info {
    width: 83vw;
  }
  .issue_info > ul {
    font-size: 12px;
    line-height: 20px;
  }
}
/* 모바일 large */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .con_wrap {
    margin-bottom: 60px;
  }
  #member_benefit h2 {
    height: 60px;
    font-size: 26px;
    line-height: 60px;
  }
  .new_benefit_wrap {
    width: 70vw;
    display: block;
  }
  .benefit_item > img {
    width: 50px;
  }
  .benefit_item > strong {
    font-size: 20px;
    margin-top: 5px;
  }
  .benefit_item > span {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  #membership_info > .wrap_box {
    margin-top: 30px;
    justify-content: center;
  }
  .grade_wrap {
    width: fit-content;
    padding: 30px 30px;
    gap: 40px;
    flex-direction: column;
  }
  .grade_item {
    display: flex;
    gap: 20px;
  }
  .grade_box > img {
    width: 100px;
  }
  .grade_info {
    margin-top: 0;
  }
  .grade_info b {
    font-size: 20px;
  }
  .grade_info span {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .issue_info {
    width: 83vw;
    margin: 0 auto;
  }
  .issue_info > ul {
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
  }
}
/* 기본 모바일 */
@media screen and (max-width: 480px) {
  .con_wrap {
    margin-bottom: 60px;
  }
  #member_benefit h2 {
    height: 60px;
    font-size: 26px;
    line-height: 60px;
  }
  .new_benefit_wrap {
    width: 70vw;
    display: block;
  }
  .benefit_item > img {
    width: 50px;
  }
  .benefit_item > strong {
    font-size: 20px;
    margin-top: 5px;
  }
  .benefit_item > span {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  #membership_info > .wrap_box {
    margin-top: 30px;
    justify-content: center;
  }
  .grade_wrap {
    width: fit-content;
    padding: 30px 30px;
    gap: 40px;
    flex-direction: column;
  }
  .grade_item {
    display: flex;
    gap: 20px;
  }
  .grade_box > img {
    width: 100px;
  }
  .grade_info {
    margin-top: 0;
  }
  .grade_info b {
    font-size: 20px;
  }
  .grade_info span {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .issue_info {
    width: 83vw;
    margin: 0 auto;
  }
  .issue_info > ul {
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
  }
}
