@charset "utf-8";
@import "../common_css/reset.css";
@import "../common_css/common.css";

#product_info {
  margin-top: 0;
}
/* 상품 디테일 페이지 */
#product_info_wrap {
  width: 83vw;
  height: 78vh;
  margin: 0 auto;
  display: flex;
  gap: 80px;
}
.product_img {
  width: 50%;
  height: 100%;
}
.product_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_detail_box {
  width: 50%;
  height: fit-content;
  box-sizing: border-box;
  margin: auto 0;
}
.product_detail_wrap {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 40px 0;
  border-bottom: 1px solid rgba(137, 137, 137, 0.3);
}
.product_detail_wrap .item_EN {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.product_detail_wrap .item_KR {
  font-size: 32px;
  line-height: 32px;
  font-weight: 800;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.product_detail {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.product_detail .item_price {
  width: 330px;
  height: fit-content;
  display: flex;
}
.product_detail .item_price > strong {
  font-size: 28px;
  font-weight: 800;
  box-sizing: border-box;
}
.product_detail .item_price > span {
  font-size: 20px;
  color: #676767;
  text-decoration: line-through;
  box-sizing: border-box;
  padding-left: 20px;
}
.product_detail .item_price > .item_dc {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}
.product_detail .item_price > .item_dc > em {
  font-size: 28px;
  color: #db4f00;
}
.product_detail .item_icons {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 10px;
}
.product_detail .item_icons a {
  font-size: 0;
  display: block;
  width: 24px;
  height: 24px;
}
.product_detail .item_icons > div {
  background-image: url(../../img/icon/web_icons/es_sprites.png);
  background-repeat: no-repeat;
}
.product_detail .item_icons .wish_icon {
  background-position: -10px -437px;
}
.product_detail .item_icons .share_icon {
  background-position: -10px -657px;
}
.product_detail_wrap > p {
  font-size: 16px;
  line-height: 24px;
  color: #676767;
}
.product_sales {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 40px 0;
}
.product_sales {
  width: 100%;
  height: fit-content;
}
.product_sales > div:not(:last-child) {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.delivery_charge,
.quantity {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
/* 구매 수량 선택 */
.count_box {
  display: flex;
  align-items: center;
}
.count_box > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  cursor: pointer;
  opacity: 0.5;
}
.count_box > span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.count_num {
  display: inline-block;
  width: 48px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.total_cost_wrap {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
}
#total_cost {
  font-size: 28px;
  line-height: 24px;
}
.sales_btn_wrap {
  width: 100%;
  height: fit-content;
}
.sales_btn_wrap {
  width: 100%;
  height: fit-content;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.sales_btn_wrap button {
  width: 50%;
  height: 60px;
  font-family: "SUIT Variable", sans-serif;
  line-height: 60px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
/* .sales_btn_wrap button:first-child > span::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  top: 19px;
  right: 92px;
  position: absolute;
  background-image: url(../../img/icon/web_icons/es_sprites.png);
  background-repeat: no-repeat;
  background-position: -10px -574px;
} */
.sales_btn_wrap button:first-child {
  background-color: #efe8e1;
}
.sales_btn_wrap button:last-child {
  color: #efe8e1;
  background-color: #373c22;
}
.sales_btn_wrap button:hover {
  filter: brightness(0.9);
}

/* 쇼핑 정보 4개 카테고리 */
.con_title {
  width: 83vw;
  height: 60px;
  height: fit-content;
  display: flex;
  box-sizing: border-box;
  margin: 40px auto;
}
.con_title li {
  flex: 1 1 0;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
.con_title li {
  border-bottom: 2px solid rgba(137, 137, 137, 0.5);
}
.con_title li > a {
  display: block;
}
.con_title li a {
  color: rgba(137, 137, 137, 0.5);
}
.con_title li.active {
  border-bottom: 2px solid #373c22;
}
.con_title li.active a {
  color: #373c22;
}

/* 카테고리 세부 내용 */
.shopping_info_detail {
  width: 100%;
  height: 100%;
}

/* detail_1 상세 정보 */
.detail_1 .product_detail_view {
  width: 83vw;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px;
  background-color: #f8f8f8;
}
/* detail_2 리뷰 */
/* detail_3 쇼핑가이드 */
.detail_3 .payment_info {
  width: 83vw;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px;
  background-color: #f8f8f8;
}
.payment_info div {
  box-sizing: border-box;
  margin: 20px;
  line-height: 24px;
}
.payment_info div:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(137, 137, 137, 0.5);
}
.payment_info h4 {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 5px;
}
.payment_info span {
  color: #676767;
}
.payment_info b {
  font-weight: 800;
}
/* detail_4 상품문의 */
