@charset "utf-8";
@import "../common_css/reset.css";
@import "../common_css/common.css";

.con_wrap {
  margin-bottom: 100px;
}
/* .con_detail {
  background-color: #efe8e1;
} */
/* 신규회원가입 혜택 */
#member_benefit {
  width: 100%;
  height: auto;
}
.con_wrap div {
  box-sizing: border-box;
}
#member_benefit h2 {
  height: 100px;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  line-height: 100px;
  color: #898989;
  /* background-color: #efe8e1; */
}
.wrap_box {
  width: fit-content;
  margin: 0 auto;
  display: flex;
}
.new_benefit_wrap {
  width: 53vw;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.benefit_item {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px 10px;
}
.benefit_item > img,
strong,
span {
  display: block;
}
.benefit_item > strong {
  font-size: 24px;
  font-weight: 800;
  margin-top: 20px;
  text-align: center;
}
.benefit_item > span {
  font-size: 16px;
  margin-top: 10px;
}
#membership_info {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}
#membership_info > .wrap_box {
  margin-top: 40px;
}
.grade_wrap {
  width: 60vw;
  padding: 50px 60px;
  display: flex;
  gap: 30px;
  justify-content: center;
  background-color: #efe8e1;
}
.query_group {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.grade_box {
  width: fit-content;
  height: fit-content;
}
.grade_box > span {
  font-size: 16px;
  font-weight: 800;
}
.grade_box > .g_white {
  color: #fff;
}
.grade_box > .g_blue {
  color: #189cc6;
}
.grade_box > .g_red {
  color: #e05364;
}
.grade_box > .g_gold {
  color: #e5b508;
}

.grade_info {
  width: fit-content;
  padding: 10px;
  margin-top: 10px;
}
.grade_info.white_box {
  border-left: 3px solid #fff;
}
.grade_info.blue_box {
  border-left: 3px solid #189cc6;
}
.grade_info.red_box {
  border-left: 3px solid #e05364;
}
.grade_info.gold_box {
  border-left: 3px solid #e5b508;
}
.grade_info b {
  font-size: 22px;
  font-weight: 800;
}
.grade_info span {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 40px;
}
.grade_info span:last-child {
  margin-bottom: 0;
}
.issue_info {
  width: 60vw;
  margin: 0 auto;
}
.issue_info > ul {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  color: #898989;
  font-size: 14px;
  line-height: 22px;
}
