@charset "utf-8";
@import "../common_css/reset.css";
@import "../common_css/common.css";

/* 메인 */
.con_wrap {
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
}
.con_title_wrap {
  width: 200px;
  height: fit-content;
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 40px;
}
.con_title_wrap .title_box {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-bottom: 2px solid #373c22;
}
/* myinfo */
#myinfo {
  width: 100%;
  height: auto;
  background-color: #efe8e1;
}
#myinfo div {
  box-sizing: border-box;
}
.info_wrap {
  width: 83vw;
  height: 340px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.user_info {
  width: 66%;
  display: flex;
  margin-right: 20px;
  justify-content: center;
}
.user_info > img {
  width: 120px;
  height: 120px;
}
.user_info > div {
  margin-left: 40px;
}
.user_info span {
  display: block;
  font-size: 22px;
  line-height: 32px;
}
.user_info span > strong,
b {
  font-weight: 800;
}
.user_info span > b {
  color: #189cc6;
}
.more_btn {
  width: fit-content;
  height: 40px;
  color: #373c22;
  font-weight: 800;
  padding: 0 15px;
  margin-top: 15px;
  border: 1px solid #373c22;
  transition: 0.3s;
}
.more_btn > a {
  color: #373c22;
}
.more_btn > a::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 7px;
  margin-left: 10px;
  background: url(../../img/icon/web_icons/arrow-right.svg) no-repeat;
}
.more_btn:hover {
  background-color: #373c22;
}
.more_btn:hover > a {
  color: #efe8e1;
}
.more_btn:hover > a::after {
  width: 24px;
  height: 24px;
  background: url(../../img/icon/web_icons/arrow-right-hover.svg) no-repeat;
}
#myinfo .box_wrap {
  width: 60%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.benefit_box {
  flex: 1 1 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 40px 0;
}
.benefit_box > img {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}
.benefit_box > span {
  font-weight: 800;
}
.benefit_box .bf_name {
  font-size: 16px;
}
.benefit_box > a {
  color: #373c22;
  font-size: 28px;
  font-weight: 600;
  margin-top: 15px;
}
#orderinfo div {
  box-sizing: border-box;
}

#myshop {
  width: 83vw;
  height: auto;
  margin: 0 auto;
}
#myshop h3 {
  font-size: 20px;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 15px;
  /* padding: 0 10px; */
}
#myshop > h3 > span {
  font-size: 12px;
  font-weight: 600;
}
/* 주문 처리 현황 */
#myshop .box_wrap {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
.myshop_box {
  font-size: 18px;
  font-weight: 600;
  flex: 1 0 16%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #efe8e1;
}
.box_wrap:nth-of-type(1) > div:first-child {
  background-color: #efe8e1;
}
.box_wrap:nth-of-type(1) > div:first-child > .order_detail {
  color: #373c22;
}
.myshop_box > .order_detail {
  color: #898989;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.issue_box {
  flex-direction: row;
  gap: 14px;
}
.issue_box > div > a {
  color: #898989;
  font-weight: 600;
}
.myshop_box > .modi {
  width: 100%;
  height: auto;
  color: #373c22;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.myshop_box > .modi > img {
  margin-bottom: 10px;
}
.query_arrow {
  display: none;
}
.logout_btn {
  width: 8vw;
  height: 36px;
  background-color: #ddd;
  line-height: 36px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  cursor: pointer;
}
.logout_btn:hover {
  background-color: #373c22;
}
.logout_btn > a {
  color: #676767;
}
.logout_btn:hover > a {
  color: #efe8e1;
}
