@charset "utf-8";
@import "../common_css/reset.css";
@import "../common_css/common.css";

/* 이벤트 리스트 */

.con_detail {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.event_list {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 60px;
  margin-bottom: 80px;
}
.event_box {
  width: 50%;
  height: fit-content;
}
.event_box img {
  width: 100%;
  height: max-content;
}
.event_box > div {
  width: 100%;
  height: max-content;
  box-sizing: border-box;
  margin-top: 10px;
}
.event_period {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #898989;
}
.event_title {
  font-size: 28px;
  font-weight: 800;
  line-height: 40px;
  color: #676767;
}
