@charset "utf-8";
@import "../common_css/reset.css";
@import "../common_css/common.css";
@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");

/* 메인 영역 */
#main_box {
  width: 100%;
  height: auto;
}
#main_box h2 {
  font-size: 150px;
  line-height: 120px;
  font-family: "Rozha One", serif;
  color: #ddd;
  margin-bottom: 80px;
}
section {
  margin: 150px 0;
}
/* our_story */
#our_story {
  position: relative;
}
#our_story .con_wrap {
  width: 83vw;
  height: 60vh;
  position: relative;
  margin: 0 auto;
  display: flex;
  gap: 130px;
}
.text_wrap {
  flex: 1 1 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.text_wrap p {
  width: 100%;
  color: #676767;
  font-size: 20px;
  line-height: 36px;
  /* margin-bottom: 20px; */
}
.story_img {
  flex: 1 1 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.story_img > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.9);
}

/* concept */
#concept {
  width: 100%;
  height: 100%;
}
#concept .title_sec {
  width: 83vw;
  margin: 0 auto;
}
#concept .con_wrap {
  width: 100%;
  height: 40vh;
  position: relative;
  margin: 0 auto;
}
.concept_bg {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
}
.concept_bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1);
  /* filter: opacity(50%); */
  transform: scale(1);
  transition: 0.5s;
}

.concept_bg > img:hover {
  /* filter: opacity(1); */
  transform: scale(1.05);
  filter: brightness(0.7);
}
.align_box {
  width: 470px;
  margin: 0 auto;
}
.concept_box {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 43%;
  display: flex;
  align-items: center;
}
.text_img {
  width: fit-content;
  height: fit-content;
}
.text_con {
  font-size: 20px;
  color: #fff;
}
.text_con.line_2 {
  margin-top: 26px;
}

.text_con.line_1::before {
  content: "";
  display: inline-block;
  width: 61px;
  height: 2px;
  background-color: #fff;
  margin: 7px 30px;
}
.text_con.line_2::after {
  content: "";
  display: inline-block;
  width: 38px;
  height: 2px;
  background-color: #fff;
  margin: 7px 18px;
}

.hidden {
  visibility: hidden;
}

.moving {
  transition: all 3s ease;
  transform: translateY(500px); /* 아래로 이동 */
}

/* significant */
#significant {
  width: 100%;
  height: 84vh;
  position: relative;
  margin: 0 auto;
}
.signi_bg {
  position: absolute;
  top: 0;
}
.signi_wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 30%;
}
.signi_wrap h3 {
  margin-bottom: 60px;
}
.signi_wrap p {
  font-size: 22px;
  line-height: 40px;
}
.signi_wrap p b {
  font-weight: 800;
}
/* .signi_wrap > p::before {
  content: "";
  display: block;
  margin: 50px auto;
  width: 2px;
  height: 100px;
  background-color: #373c22;
} */

/* keyword */
#keyword {
  width: 100%;
  height: 80vh;
  position: relative;
  margin: 100px 0;
}
#keyword .con_wrap {
  width: 83vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  text-align: center;
}

.key_text {
  flex: 1 1 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.change_text span {
  font-size: 36px;
  line-height: 80px;
  font-weight: 800;
  margin-top: 20px;
}
.change_text p {
  width: 100%;
  color: #676767;
  font-size: 20px;
  line-height: 30px;
}
.key_img {
  flex: 1 1 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.key_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(1);
}
