@charset "utf-8";

/* 선택자명 반드시 동일하게 작성하기(순서도 웬만하면 맞추기) */
/* 노트북 */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  main {
    margin-top: 30px;
  }

  /* 서브 페이지 공통 카테고리 */
  .con_title {
    margin-bottom: 40px;
  }
}

/* 노트북 medium */
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  main {
    margin-top: 30px;
  }
  #main_header {
    height: 160px;
  }
  .header_bottom-con {
    margin-top: 30px;
  }
  #gnb > ul > li:last-child > span {
    display: none;
  }

  /* 서브 페이지 공통 카테고리 */
  .con_title {
    margin-bottom: 40px;
  }
  /* 푸터 */
  .footer_inner {
    padding: 30px 73px 30px 0;
  }
}

/* 태블릿 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  main {
    margin-top: 30px;
  }
  /* 헤더 */
  #main_header {
    height: 100px;
  }
  .header_wrap {
    width: 83vw;
    padding: 30px 0;
    display: flex;
    align-items: end;
  }
  /* 상단 멤버십 메뉴 */
  .top_member {
    display: none;
  }
  #gnb {
    display: none;
  }
  /* 메인 1차 메뉴 */
  .header_bottom-con {
    width: fit-content;
    height: fit-content;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }
  .user-icon {
    display: none;
  }
  /* 메뉴 사이드 버전 */
  .side_nav {
    width: 180px;
    padding: 28px;
  }

  .side_nav ul {
    line-height: 3.5vh;
  }
  .nav_1 > li {
    line-height: 4.5vh;
  }
  .snb_close-icon {
    margin-top: 0px;
  }
  /* 서브 페이지 공통 카테고리 */
  .con_title {
    margin-bottom: 40px;
  }

  /* 푸터 */
  footer {
    position: relative;
  }
  .footer_inner {
    width: 83vw;
    padding: 30px 73px 30px 0;
  }
  /* floating_btn */
  #floating_btn_wrap {
    position: absolute;
    bottom: 32px;
    right: 16px;
  }
}

/* 모바일 large */
@media screen and (min-width: 481px) and (max-width: 768px) {
  main {
    margin-top: 20px;
  }

  /* 헤더 */
  #main_header {
    height: 60px;
  }
  .header_wrap {
    width: 83vw;
    padding: 20px 0;
    display: flex;
    justify-content: end;
  }
  h1 {
    width: fit-content;
    height: 32px;
  }
  /* 상단 멤버십 메뉴 */
  .top_member {
    display: none;
  }
  #gnb {
    display: none;
  }
  /* 메인 1차 메뉴 */
  .header_bottom-con {
    width: fit-content;
    margin-top: 0;
  }
  /* 우측 아이콘 액션 */
  .product_search {
    display: none;
  }
  .user-icon {
    display: none;
  }
  /* 메뉴 사이드 버전 */
  .side_nav {
    width: 180px;
    padding: 28px;
  }
  .side_nav ul {
    line-height: 3.5vh;
  }
  .nav_1 > li {
    line-height: 4.5vh;
  }
  .snb_close-icon {
    margin-top: 0px;
  }

  /* 서브 페이지 공통 카테고리 */
  .con_title.t_2row {
    width: 340px;
  }
  .con_title {
    margin-bottom: 20px;
  }

  /* footer */
  footer {
    position: relative;
  }
  .footer_inner {
    padding: 30px 53px 30px 0;
  }
  .footer_con {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .footer_inner a {
    font-size: 14px;
  }
  .footer_menu .policy_list > li {
    gap: 10px;
  }
  .footer_menu .policy_list > li > a:not(:last-child)::after {
    right: -6px;
  }

  /* floating_btn */
  #floating_btn_wrap {
    position: absolute;
    bottom: 32px;
    right: 16px;
  }
  #floating_btn_wrap a {
    width: 46px;
    height: 46px;
  }
  #floating_btn_wrap a img {
    width: 28px;
  }
}

/* 기본 모바일 */
@media screen and (min-width: 441px) and (max-width: 480px) {
  main {
    margin-top: 20px;
  }

  /* 헤더 */
  #main_header {
    height: 60px;
  }
  .header_wrap {
    width: 83vw;
    padding: 20px 0;
    display: flex;
    justify-content: end;
  }
  h1 {
    width: fit-content;
    height: 32px;
  }
  /* 상단 멤버십 메뉴 */
  .top_member {
    display: none;
  }
  #gnb {
    display: none;
  }
  /* 메인 1차 메뉴 */
  .header_bottom-con {
    width: fit-content;
    height: fit-content;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }
  /* 우측 아이콘 액션 */
  .product_search {
    display: none;
  }
  .user-icon {
    display: none;
  }
  /* 메뉴 사이드 버전 */
  .side_nav {
    width: 180px;
    padding: 28px;
  }
  .side_nav ul {
    line-height: 3.5vh;
  }
  .nav_1 > li {
    line-height: 4.5vh;
  }
  .snb_close-icon {
    margin-top: 0px;
  }

  /* 서브 페이지 공통 카테고리 */
  .con_title.t_2row {
    width: 340px;
  }
  .con_title {
    margin-bottom: 20px;
  }
  .con_title li a {
    font-size: 18px;
    line-height: 50px;
  }

  /* footer */
  footer {
    position: relative;
  }
  .footer_inner {
    padding: 30px 50px 30px 0;
  }
  .footer_con {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .footer_inner a {
    font-size: 14px;
  }
  .footer_menu .policy_list > li {
    gap: 10px;
  }
  .footer_menu .policy_list > li > a:not(:last-child)::after {
    right: -6px;
  }

  /* floating_btn */
  #floating_btn_wrap {
    position: absolute;
    bottom: 32px;
    right: 16px;
  }
  #floating_btn_wrap a {
    width: 46px;
    height: 46px;
  }
  #floating_btn_wrap a img {
    width: 28px;
  }
}
/* 최소 모바일 */
@media screen and (max-width: 440px) {
  main {
    margin-top: 20px;
  }

  /* 헤더 */
  #main_header {
    height: 60px;
  }
  .header_wrap {
    width: 83vw;
    padding: 20px 0;
    display: flex;
    justify-content: end;
  }
  h1 {
    width: fit-content;
    height: 32px;
  }
  /* 상단 멤버십 메뉴 */
  .top_member {
    display: none;
  }
  #gnb {
    display: none;
  }
  /* 메인 1차 메뉴 */
  .header_bottom-con {
    width: fit-content;
    height: fit-content;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }
  /* 우측 아이콘 액션 */
  .product_search {
    display: none;
  }
  .user-icon {
    display: none;
  }
  /* 메뉴 사이드 버전 */
  .side_nav {
    width: 180px;
    padding: 28px;
  }
  .side_nav ul {
    line-height: 28px;
  }
  .nav_1 > li {
    line-height: 48px;
  }
  .snb_close-icon {
    margin-top: 0px;
  }

  /* 서브 페이지 공통 카테고리 */
  .con_title.t_2row {
    width: 340px;
  }
  .con_title {
    margin-bottom: 20px;
  }
  .con_title li a {
    font-size: 18px;
    line-height: 50px;
  }
  footer {
    position: relative;
  }
  .footer_inner {
    padding: 30px 50px 30px 0;
  }
  .footer_con {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .footer_inner a {
    font-size: 14px;
  }
  .footer_menu .policy_list > li {
    gap: 10px;
  }
  .footer_menu .policy_list > li > a:not(:last-child)::after {
    right: -6px;
  }

  /* floating_btn */
  #floating_btn_wrap {
    position: absolute;
    bottom: 32px;
    right: 16px;
  }
  #floating_btn_wrap a {
    width: 46px;
    height: 46px;
  }
  #floating_btn_wrap a img {
    width: 28px;
  }
}
